{% block nav %}{% include 'base/student_navbar.html' %}{% endblock nav %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'base/styles.css' %}">

<!-- PAGE TITLE -->
<div style="height: 50px;"></div>
<div class="d-flex flex-column align-items-center">
  <h1 style="color:aliceblue;">Confirm Request:</h1>
</div>
<div style="height: 30px;"></div>


<!-- LIST OF TUTORS -->
<div class="d-flex flex-column align-items-center">
    <form>
        <button type="submit" class="btn btn-outline-light" >Requesting {{ tutor }} as a Tutor for {{ course }}</button>
    </form>


    <h3 style="color:aliceblue;">Available Time Frames of {{tutor}}</h3>
    <div class="d-flex flex-column align-items-center">
    <ul style"list-style-type: none;">
    {% for timeframe in tutor_timeframes %}
        <div class="text-center mt-2 col-md-12">
          <ol>
            <div class="d-flex flex-row justify-content-center">
            <h4 style="color:aliceblue;"> {{timeframe.start_time}} to {{timeframe.end_time}}</h2>
            </div>
          </ol>
        </div>
    {% endfor %}
    </ul>

    <form method="post">
        <table style="color:aliceblue;">
            {{ time_form.as_table }}
        </table>
        {% csrf_token %}
        <button type="submit" class="btn btn-success" >Submit Request</button>
    </form>

    <div class="text-center mt-2 col-md-12">
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="tutor" value='{{ tutor }}'>
            <!-- <button type="submit" class="btn btn-success" >Submit Request</button> -->
        </form>

    </div>
    </div>


  

    <div class="d-flex flex-column align-items-center fixed-bottom">
        <a href="student-request-tutor">
            <button class="btn btn-outline-warning"  >back to tutor list</button>
        </a>
        <div style="height: 30px;"></div>
    </div>
    
</div>
