{% block nav %}{% include 'base/student_navbar.html' %}{% endblock nav %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'base/styles.css' %}">

<!-- PAGE TITLE -->
<div style="height: 50px;"></div>
<div class="d-flex flex-column align-items-center">
  <h1 style="color:aliceblue;">Your Notifications:</h1>
</div>
<div style="height: 30px;"></div>


<!-- LIST OF NOTIFICATIONS -->
<div class="d-flex flex-column align-items-center">
    <div style="height: 10px;"></div>
    {% for notification in notifications %} 
    <div class="text-center col-md-12">
        <ol>
            {% if notification.info == "0" %} 
                <p style="color:aliceblue;">You have requested {{notification.tutor}} as a tutor for {{notification.course}}</p>
            {% elif notification.info == "1" %} 

                <div class="d-flex flex-row justify-content-center">
                    <form>
                        <button class="btn btn-success">{{notification.tutor}} has accepted your tutoring request for {{notification.course}}</button>
                    </form>
                    <div style="width: 10px;"></div>
                    <form method="post">
                    {% csrf_token %}
                        <input type="hidden" name="info" value='1'>
                        <input type="hidden" name="tutor" value='{{notification.tutor}}'>
                        <input type="hidden" name="course" value='{{notification.course}}'>
                        <button type="submit" class="btn btn-outline-warning" >clear</button>
                    </form>
                </div>

            {% elif notification.info == "2" %} 

                <div class="d-flex flex-row justify-content-center">
                    <form>
                        <button class="btn btn-outline-danger">{{notification.tutor}} has rejected your tutoring request for {{notification.course}}</button>
                    </form>
                    <div style="width: 10px;"></div>
                    <form method="post">
                    {% csrf_token %}
                        <input type="hidden" name="info" value='2'>
                        <input type="hidden" name="tutor" value='{{notification.tutor}}'>
                        <input type="hidden" name="course" value='{{notification.course}}'>
                        <button type="submit" class="btn btn-outline-warning" >clear</button>
                    </form>
                </div>

            {% endif %} 
        </ol>
    </div>
    {% endfor %}

</div>