{% block nav %}{% include 'base/navbar.html' %}{% endblock nav %}

{% load static %}


<body>    
    <center> <h1 style="color:aliceblue;"> Student Registration </h1> </center>
    <form>  
        <div class="container">   
            <label style="color:aliceblue;">First Name : </label>
            <input type="text" placeholder="Enter Full Name" name="full_name" required>  
            <br>
            <button type="submit">Submit</button>   
        </div>   
    </form>     
</body>     