{#{% block nav %}{% include 'base/tutor_navbar.html' %}{% endblock nav %}#}
{##}
{#{% load static %}#}
{#<link rel="stylesheet" type="text/css" href="{% static 'base/styles.css' %}">#}
{##}
{#<!-- PAGE TITLE -->#}
{#<div style="height: 50px;"></div>#}
{#<div class="d-flex flex-column align-items-center">#}
{#  <h1 style="color:aliceblue;">Your Posted Time Frames:</h1>#}
{#</div>#}
{#<div style="height: 30px;"></div>#}
{##}
{##}
{#<!-- LIST OF TIME FRAMES -->#}
{##}
{#  <div class="d-flex flex-column align-items-center">#}
{#    <div style="height: 10px;"></div>#}
{#    {% for timeframe in tutor_timeframes %} #}
{#    <div class="text-center col-md-12">#}
{#        <ol>#}
{#                <div class="d-flex flex-row justify-content-center">#}
{#                    <form>#}
{#                        <li>{{timeframe.day_of_week}} {{timeframe.start_time}} to {{timeframe.end_time}}</li>#}
{#                    </form>#}
{#                    <div style="width: 10px;"></div>#}
{#                    <form method="post">#}
{#                        {% csrf_token %}#}
{#                        <input type="hidden" name="department" value='{{ timeframe.day_of_week }}'>#}
{#                        <input type="hidden" name="number" value='{{ timeframe.start_time }}'>#}
{#                        <input type="hidden" name="name" value='{{ timeframe.end_time }}'>#}
{#                        <button type="submit" class="btn btn-outline-danger" >remove</button>#}
{#                    </form>#}
{#                </div>#}
{##}
{#        </ol>#}
{#    </div>#}
{#    {% endfor %}#}
{#</div>#}

{% block nav %}{% include 'base/tutor_navbar.html' %}{% endblock nav %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'base/styles.css' %}">

<!-- PAGE TITLE -->
<div style="height: 50px;"></div>
<div class="d-flex flex-column align-items-center">
  <h1 style="color:aliceblue;">Your Posted Time Frames</h1>
</div>
<div style="height: 30px;"></div>

<div class="d-flex flex-column align-items-center">
{#    <h1 class="h1">Your Posted Time Frames</h1>#}
    {% for timeframe in tutor_timeframes %}
        <form method="post">
            <table class="table" style="color:#CAD5CA;">
                {{ timeframe.day_of_week }} {{ timeframe.start_time }} to {{ timeframe.end_time }}

                <input type="hidden" name="department" value='{{ timeframe.day_of_week }}'>
                <input type="hidden" name="number" value='{{ timeframe.start_time }}'>
                <input type="hidden" name="name" value='{{ timeframe.end_time }}'>
                <button type="submit" class="btn btn-outline-danger">remove</button>
            </table>
            {% csrf_token %}
        </form>
        <a class="nav-link" href="/tutor-post-timeframe">
            <button class="btn btn-outline-info" type="button">Edit</button>
        </a>
        </div>
    {% endfor %}

</div>

<style>
    * {
        color: white;
    }

    form {
        text-align: center;
    }

    h1 {
        font-family: "Open Sans", sans-serif;
        color: white;
    }
</style>