{% block nav %}{% include 'base/tutor_navbar.html' %}{% endblock nav %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'base/styles.css' %}">

<!-- PAGE TITLE -->
<div style="height: 50px;"></div>
<div class="d-flex flex-column align-items-center">
  <h1 style="color:aliceblue;">Post Available Tutoring Time Frame</h1>
</div>
<div style="height: 30px;"></div>

<div class="d-flex flex-column align-items-center">
    <form class="form" method="post">
        <table class="table" style="color:#CAD5CA;">
            {{ form.as_table }}
        </table>
        {% csrf_token %}
        <button style="color: #8075FF; border-color: #8075FF; align-items: center" type="submit" class="btn btn-outline-light">Submit</button>
    </form>
</div>

<style>
    form {
        text-align: center;
    }
    h1{
        font-family: "Open Sans", sans-serif;
        color: white;
    }
</style>